.gulbee-colors {
    background: linear-gradient(90deg, #5ed1fe 0%, #a308dc 100%); /* Gradient fioletowy */
  }

.gulbee-colors:hover {
    background: linear-gradient(90deg, #a308dc 0%, #5ed1fe 100%);
    transition: all 0.3s ease-in-out;
}