<div class="container-fluid text-white p-2 d-flex justify-content-center" style="background-color: black;">
  <p>(((&copy;))) 2024 Gulbee. Wszystkie prawa zastrzeżone. Stwórz własne konto i zaczynaj przygodę!</p>
</div>