@inherits LayoutComponentBase

<div class="d-flex flex-column vh-100 align-items-stretch">
    <div>
        <Navbar />
    </div>
    
    <div class="container-fluid p-3 flex-grow-1 bg-dark text-white">
        @Body
    </div>
    <div>
        <Footer />
    </div>
</div>